<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trevel in Iceland</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Federo&family=Limelight&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div id="wrapper">
        <nav> 
            <a href="/" class ="nav-link"><span>❄️</span>Home</a>
            <a href="/lagoon" class ="nav-link"><span>❄️</span>Blue Lagoon</a>

        </nav>
        <header> 
            <h1>Iceland</h1>
        </header>

        <main>
            
            <section>
                <h2>Welcome!</h2>
                <br/>
                <a href="https://visiticeland.com">Visit Iceland</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            </section>

            <aside>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 

            </aside>

        </main>

        <div class="container">
        
            <img src="/static/Images/img02.jpg" alt="img02">
         
            <img src="/static/Images/img01.jpg" alt="img01">

            <img src="/static/Images/img05.jpg" alt="img05">

            <img src="/static/Images/img04.jpg" alt="img04">

            <img src="/static/Images/img06.jpg" alt="img06">

            <img src="/static/Images/img07.jpg" alt="img07">
        

        </div>




    </div>

    <footer>
        <p>© Copyright 2021 by SW All rights reserved.</p>
    </footer>
    
</body>
</html>