<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trevel in Iceland</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Federo&family=Limelight&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div id="wrapper">
        <nav> 
            <a href="/" class ="nav-link"><span>❄️</span>Home</a>
            <a href="/lagoon" class ="nav-link"><span>❄️</span>Blue Lagoon</a>

        </nav>
        <header class="lagoon">
            <h1>Blue Lagoon</h1>

        </header>

        <main>

    
            
            <section>
                <h2>About</h2>
                <br/>
                
                <a href="https://www.bluelagoon.com">Discover Blue Lagoon</a>
                <p>{{details['about']}}</p>


            </section>

            <aside>
               {{details['description']}} 

            </aside>

        </main>





    </div>

    <footer>
        <p>© Copyright 2021 by SW All rights reserved.</p>
    </footer>
    
</body>
</html>